{% extends 'base.html' %}

{% block content %}
<h1>Bem-vindo!</h1>
<p>O que você deseja visualizar?</p>

<div class="list-group">
  <a href="{% url 'montadora_list' %}" class="list-group-item list-group-item-action">
    Visualizar Montadoras
  </a>
  <a href="{% url 'modelo_list' %}" class="list-group-item list-group-item-action">
    Visualizar Modelos
  </a>
  <a href="{% url 'veiculo_list' %}" class="list-group-item list-group-item-action">
    Visualizar Veículos
  </a>
</div>
{% endblock %}