{% extends 'base.html' %}

{% block content %}
<h1>Lista de Veículos</h1>

<a href="{% url 'veiculo_create' %}" class="btn btn-sm btn-success mb-2">Adicionar Novo Veículo</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Ano Fabricação</th>
      <th>Ano Modelo</th>
      <th>Valor</th>
      <th>Placa</th>
      <th>Vendido</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for veiculo in object_list %}
    <tr>
      <td>{{ veiculo.modelo.nome }}</td>
      <td>{{ veiculo.cor }}</td>
      <td>{{ veiculo.ano_fabricacao }}</td>
      <td>{{ veiculo.ano_modelo }}</td>
      <td>{{ veiculo.valor }}</td>
      <td>{{ veiculo.placa }}</td>
      <td>{{ veiculo.vendido|yesno:"Sim,Não" }}</td>
      <td>
        <a href="{% url 'veiculo_update' veiculo.id %}" class="btn btn-primary btn-sm">Editar</a>
        <a href="{% url 'veiculo_delete' veiculo.id %}" class="btn btn-danger btn-sm">Deletar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}